/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/twitter-sentiment.iml
/.idea/vcs.xml
/Very useful tutorials/emotion_analysis_elastic_pytorch-master/.gitignore
/__pycache__/Training.cpython-37.pyc
/configs/__pycache__/__init__.cpython-37.pyc
/configs/__pycache__/serde.cpython-37.pyc
/data/__pycache__/__init__.cpython-37.pyc
/data/__pycache__/data_handler.cpython-37.pyc
/data/network_data/
/data/tensor_board_logs/
/models/__pycache__/
/__pycache__/
/data/.vector_cache/
/.vector_cache/
/.ipynb_checkpoints/
/data/__pycache__/
/utils/__pycache__/
/.idea/
/data/datasets/postreply/data_post_reply_withlabel.csv
/data/datasets/postreply/data_post_with_max_replies_label.csv
/data/datasets/semeval_message_level/new data (train)/
/data/datasets/semeval_message_level/test/
/data/datasets/postreply/final_data_post_reply.csv
paper/coling2020/coling2020.pdf
paper/coling2020/coling2020.dotx
paper/coling2020/coling2020.dvi
paper/coling2020/coling2020.aux
paper/coling2020/coling2020.bbl
paper/coling2020/coling2020.blg
paper/coling2020/coling2020.log
/best_model_so_far (0.712_F1)/
/data/datasets/postreply/test_gold/
/data/datasets/postreply/test_gold_out/
/data/datasets/postreply/raw data/
