/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/twitter-sentiment.iml
/.idea/vcs.xml
/Very useful tutorials/emotion_analysis_elastic_pytorch-master/.gitignore
